In [1]:
import numpy as np
students=np.array([
    [67,94,65],
    [78,92,68],
    [59,92,87]
    ])

students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 92, 87]])

In [5]:
## pandas套件提供一個可以將numpy包裝成適合人閱讀的class: DataFrame

import pandas as pd
pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['國文','英文','數學']
             )

      國文  英文  數學
stu1  67  94  65
stu2  78  92  68
stu3  59  92  87

In [12]:
data= np.random.randint(50,high=101, size=[50,5])  #製造50位學生的5科亂數成績
students= pd.DataFrame(data,
                       columns=['國文','英文','數學','自然','社會'])

students

     國文   英文  數學   自然   社會
0    88   69  63   54   99
1    71   93  91   63   89
2    88   99  93   63   64
3    79   76  83   93   65
4    77   50  92   70   70
5    85   61  54   51   94
6    84   90  79   63   76
7    51   88  51   53   72
8    97   71  50   63   51
9    51   68  61   63   78
10   95   55  82   89   99
11   67   57  58   98   90
12   99   77  92   53   87
13   86   50  90   86   64
14   71   74  87   64   53
15   66   50  82   71   78
16   57   85  95   74   55
17   76   57  62   52   52
18   51   88  96  100  100
19   52   73  89   85   72
20   73   69  57   94   98
21  100   85  59   77   93
22   59   87  64   74   82
23   90   90  81   91   90
24   56   79  67   98   78
25   54   60  69   78   93
26   55   84  69   52   87
27   88   58  84   50   71
28   75   75  70   80   93
29   67   73  79   96   87
30   57   71  62   61   95
31   51   84  57   50   90
32   93  100  53   71   81
33   56   71  57   63   56
34   66   51  82   84   53
35   99   59  66   91   95
36   78   82  84   72   63
37   85   80  83  100   96
38   82   81  96   99   50
39   99   68  96   66   69
40   52   62  54   54   81
41   59   96  99   54   77
42   93   73  68   88   84
43   73   55  99   53   67
44   66   55  50   52   91
45   99   78  68   55   99
46   51   97  61   75   77
47   82  100  61  100   62
48   60   51  52   64   94
49   83   87  71   85   77