In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.055963 -0.040312
1    a  two -0.521640 -1.196745
2    b  one  1.207579 -0.699637
3    b  two -0.209578 -0.360594
4    a  one  0.221714  0.765883

In [ ]:
# Series的Groupby
# 可以自訂要分組的標籤
grouped = df['data1'].groupby(['台北','台北','台北','台中','台中'])
grouped

In [ ]:
# 透過分組後的物件，可以做任何統計
grouped.mean()

台中    0.006068
台北    0.247301
Name: data1, dtype: float64

In [ ]:
# 用原來表格的index來分組
df['data1'].groupby(df['key2']).mean()

key2
one    0.495085
two   -0.365609
Name: data1, dtype: float64

In [ ]:
#用原來表格的兩個key來分組
s1 = df['data1'].groupby([df['key1'], df['key2']]).mean()
s1

key1  key2
a     one     0.138838
      two    -0.521640
b     one     1.207579
      two    -0.209578
Name: data1, dtype: float64

In [ ]:
# 透過unstack()可以將Series轉換成DataFrame，並將key1的值轉換成欄標題
s1.unstack(level='key1')

key1         a         b
key2
one   0.138838  1.207579
two  -0.521640 -0.209578

In [ ]:
#dataframe的Groupby
df.groupby('key1')

In [ ]:
#透過DataFrameGroupBy加上subscript可以取得SeriesGroupBy
df.groupby('key1')['data1']

In [ ]:
# 透過DataFrameGroupBy加上subscript可以取得DataFrameGroupBy的統計結果
df.groupby('key1')[['data1','data2']].mean()

         data1     data2
key1
a    -0.081321 -0.157058
b     0.499001 -0.530116

In [ ]:
# 透過兩個key來分組,取得DataFrameGroupBy的統計結果
df.groupby(['key1','key2'])[['data1','data2']].mean()

              data1     data2
key1 key2
a    one   0.138838  0.362786
     two  -0.521640 -1.196745
b    one   1.207579 -0.699637
     two  -0.209578 -0.360594